body {
  margin: 0;
}

h1 {
  margin: 0;
}

.frame {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#heroShot {
  background-color: green;
}

#logo {
  padding-top: 2em;
  padding-left: 2em;
}

#content{
  background-color: #fff;
}
