body {
  margin: 0;
}

h1 {
  margin: 0;
}

.frame {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#heroShot {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  padding-top: 2em;
  padding-left: 2em;
  max-width: 20em;
}

.subHead {
  color: #fff;
  padding-left: 2.6em;
  padding-bottom: 2em;
  font-style: normal;
  font-weight: 300;
}

#content{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contentWrap {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.contentWrap > h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 2px;
}

.contentWrap > p {
  font-weight: 300;
  font-size: 21px;
  line-height: 29.4px;
  letter-spacing: 1.26px;
}

#heroVideo {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.contentProjects {
  width: 80%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project {
  width: 80%;
  height: 85%;
}

md-tabs {
  width: 100%;
  height: 100%;
}

.iframeProject {
  margin-top: .5em;
  width: 100%;
  height: 89%;
}

.descWrap{
  width: 100%;
  height: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.desc {
  margin: 0;
  text-align: center;
}

.team {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dude {
  width: 40%;
  height: 80%;
  background-color: gray;
}

footer {
  height: 50vh;
  background-color: black
}
