body {
  margin: 0;
}

h1 {
  margin: 0;
}

.frame {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#heroShot {
  background-color: green;
}

#logo {
  padding-top: 2em;
  padding-left: 2em;
}

#content{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contentWrap {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

#heroVideo {
  /* background-color: blue; */
}

.contentProjects {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.project {
  width: 80%;
  height: 70%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.contentProjects {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

strong {
  margin-top: 2em;
}
.team {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dude {
  width: 40%;
  height: 80%;
  background-color: gray;
}

footer {
  height: 50vh;
  background-color: black
}
