<div class="frame" id="content">
  <div class="contentProjects">
    <h1>Our Work (TABS)</h1>
  </div>
  <div class="project">
    <md-tabs md-border-bottom>
      <md-tab label="Cold Brew">
        <iframe class="iframeProject" src="https://player.vimeo.com/video/189155865?color=ffffff&title=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="descWrap">
          <p class="desc">The first ever officially unofficial cold brew shotgun event that we captured and turned into a commercial.</p>
        </div>
      </md-tab>
      <md-tab label="Zoom">
        <iframe class="iframeProject" src="https://player.vimeo.com/video/212123209?color=ffffff&title=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="descWrap">
          <p class="desc">Music Producer Malek creates music out of ordinary sounds around the city during SXSW. Audio recorder provided by Zoom.</p>
        </div>
      </md-tab>
      <md-tab label="Squar">
        <iframe class="iframeProject" src="https://player.vimeo.com/video/218985681?color=ffffff&title=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="descWrap">
          <p class="desc">We worked with Squar Studios in Pennsylvania to conceptualize and tell a story of their passion in creating clean and intentional websites.</p>
        </div>
      </md-tab>
      <md-tab label="Cuvée">
        <iframe class="iframeProject" src="https://player.vimeo.com/video/190748521?color=ffffff&title=0&byline=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="descWrap">
          <p class="desc">Veterans Day and what it means to Austin's own Cuvee Coffee.</p>
        </div>
      </md-tab>
    </md-tabs>
  </div>
</div>
